---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Samurai from '../components/Samurai.astro'
---

<Layout title="antarctica DAO">
	<main>
		<h1><Samurai/></h1>
		<p class="instructions">Collective supporting the development of Farcaster, a decentralized social media platform.<br />
		<strong>Our Mission:</strong> Foster a thriving ecosystem for free and open communication.</p>
		<ul role="list" class="link-card-grid">
		  <Card href="https://farcaster.xyz/" title="Farcaster" body="Learn about the Farcaster protocol and its decentralized architecture." />
		  <Card href="/roadmap" title="Roadmap" body="Explore our roadmap for supporting Farcaster development." />
		  <Card href="https://www.antarcticadao.org/" title="Grants" body="Apply for grants to build on Farcaster or contribute to the ecosystem." />
		  <Card href="https://discord.gg/" title="Community" body="Join our Discord community to connect with developers and enthusiasts." />
		</ul>
	</main>
</Layout>

<style>
	main {
	  margin: auto;
	  padding: 1rem;
	  width: 800px;
	  max-width: calc(100% - 2rem);
	  color: #e2e8f0; /* Snow blue color */
	  font-size: 20px;
	  line-height: 1.6;
	}
	.astro-a {
	  position: absolute;
	  top: -32px;
	  left: 50%;
	  transform: translatex(-50%);
	  width: 220px;
	  height: auto;
	  z-index: -1;
	}
	h1 {
	  font-size: 4rem;
	  font-weight: 700;
	  line-height: 1;
	  text-align: center;
	  margin-bottom: 1em;
	}
	.text-gradient {
	  background-image: linear-gradient(to right, #a5b4fc, #c4b5fd); /* Pastel blue gradient */
	  -webkit-background-clip: text;
	  -webkit-text-fill-color: transparent;
	  background-size: 400%;
	  background-position: 0%;
	}
	.instructions {
	  margin-bottom: 2rem;
	  border: 1px solid rgba(197, 212, 235, 0.25); /* Light snow blue with 25% opacity */
	  background: linear-gradient(135deg, rgba(167, 189, 245, 0.66), rgba(201, 193, 253, 0.33)); /* Pastel blue gradient */
	  padding: 1.5rem;
	  border-radius: 8px;
	}
	.instructions code {
	  font-size: 0.8em;
	  font-weight: bold;
	  background: rgba(197, 212, 235, 0.12); /* Light snow blue with 12% opacity */
	  color: #e2e8f0; /* Snow blue color */
	  border-radius: 4px;
	  padding: 0.3em 0.4em;
	}
	.instructions strong {
	  color: #e2e8f0; /* Snow blue color */
	}
	.link-card-grid {
	  display: grid;
	  grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
	  gap: 2rem;
	  padding: 0;
	}
  </style>
