---

---

<style>
  footer {
    text-align: center;
    padding: 1rem 0;
  }
  
  .footer_data {
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: small;
    display: flex;
    justify-content: center;
    gap: 1rem;
    color: #8b5cf6; /* Purple theme color */
  }
  
  .footer_data li {
    margin-bottom: 0;
  }
  
  .footer_data a {
    color: inherit; /* Inherit the purple color from parent */
    text-decoration: none;
  }
  
  .footer_data a:hover {
    text-decoration: underline;
  }
  </style>
  
  <footer>
    <ul class="footer_data">
      <li>Contact: <a href="mailto:antdao@waifu.club">antdao@waifu.club</a></li>
      <li>antarctica LLC</li>
      <li>Trust Company Complex Ajeltake Road</li>
      <li>Ajeltake Island Majuro Marshall Islands MH96960</li>
    </ul>
  </footer>